# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\001Liukai\Coding\python_essential_reference\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
